<h1>{{ name }}</h1>
<input type="text" [(ngModel)]="name" (blur)="onblur(name)" />

<a [href]="googleURL" target="_blank">Go to Google</a>

<h2>Counter: {{ counter }}</h2>

<button class="btn btn-primary mr-2" (click)="btnMinus()">-</button>
<button class="btn btn-warning" (click)="btnIncrease($event)">+</button>

<form>
  <h2 class="mt-5 text-center">To Do List</h2>
  <div class="form-container">
    <div class="form-input">
      <div class="form-group">
        <label for="task">Task</label>
        <!-- #todoList use template variable -->
        <input
          type="text"
          class="form-control"
          id="title"
          #todoList
          [(ngModel)]="newTodo"
          (keyup.enter)="addTodoList(todoList)"
          name="title"
          placeholder="Input Title"
        />
      </div>
      <button
        type="submit"
        (click)="addTodoList(newTodo)"
        class="btn btn-primary"
      >
        Submit
      </button>
    </div>
    <div class="form-list">
      <ul class="list-group">
        <li
          class="list-group-item list-todo"
          *ngFor="let todo of todos; let i = index"
        >
          <span
            class="title-list"
            [class.completed]="todo.completed"
            (click)="checkTatus(todo.completed, i)"
            >{{ i + 1 }}. {{ todo.title }}</span
          >
          <button class="btn btn-primary mr-2" (click)="deletedTodoList(i)">
            DELETE
          </button>
        </li>
      </ul>
    </div>
  </div>
</form>
